<div class="card edit-detail">
  @if (editingProduct) {
    <header class="card-header">
      <div class="card-header-title is-flex is-flex-direction-column is-align-items-flex-start">
        <p class="is-size-4 mb-2">{{ editingProduct.name }}</p>
        <p class="subtitle is-6 mb-2">{{ editingProduct.description }}</p>
        <div class="is-flex is-flex-wrap-wrap is-align-items-center mb-1 gap-3">
          @if (editingProduct.author) {
            <span class="is-size-7 has-text-grey mr-3">
              <span class="icon is-small"><i class="fas fa-user"></i></span>
              {{ editingProduct.author }}
            </span>
          }
          @if (editingProduct.license) {
            <span class="is-size-7 has-text-grey mr-3">
              <span class="icon is-small"><i class="fas fa-balance-scale"></i></span>
              {{ editingProduct.license }}
            </span>
          }
        </div>
        @if (editingProduct.tags && editingProduct.tags.length) {
          <div class="tags mt-2 mb-0">
            @for (tag of editingProduct.tags; track tag) {
              <span class="tag is-light is-info">{{ tag }}</span>
            }
          </div>
        }
      </div>
    </header>
  }
  <div class="card-content">
    <div class="columns is-desktop">
      <!-- Left Column: Parameters & Code Editor -->
      <div class="column is-6">
        <div class="field">
          <label class="label font-label">Parameters</label>
          <div id="parameterstable" class="box parameter-box"></div>
        </div>

        <div class="field mt-4">
          <label class="label font-label">JavaScript Code Editor</label>
          <div class="control">
            <textarea class="textarea code-textarea" id="code" [(ngModel)]="editingProduct.code" (change)="onUpdate()"></textarea>
          </div>
        </div>
      </div>

      <!-- Right Column: 3D Render & Actions -->
      <div class="column is-6">
        <div class="field">
          <label class="label font-label">3D Preview</label>
          <div class="control">
            <div oncontextmenu="return false;" id="viewerContext" class="viewer-context"></div>
          </div>
        </div>

        <div class="field is-grouped mt-4">
          <div class="control">
            <button class="button is-primary" (click)="onUpdate()">Update Render</button>
          </div>
          <div class="control">
            <button class="button is-info" (click)="generateOutputFile()">Generate STL</button>
          </div>
          @if (outputFile) {
            <div class="control">
              <a download="openjscad.stl" [href]="sanitizeImageUrl(outputFile)"
              class="button is-link is-light">Download STL</a>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
