@if (!products?.length) {
<div>
  Loading data ...
</div>
}
<section class="section product-list-section">
  <div class="product-list-layout">
    <div class="product-grid">
      @for (product of products; track trackByProduct(i, product); let i = $index) {
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img [src]="product.image" [alt]="product.name">
          </figure>
        </div>
        <app-card-content [product]="product"></app-card-content>
        <footer class="card-footer">
          <app-button-footer class="card-footer-item" [routerLink]="['/product', product.id]" [className]="'edit-item'"
            [iconClasses]="'fas fa-edit'" label="View" [item]="product"></app-button-footer>
        </footer>
      </div>
      }
    </div>

    <aside class="resource-links-column">
      <div class="box is-light-grey">
        <h3 class="title is-4 mb-3">Useful Resources</h3>

        <div class="resource-link">
          <a href="https://openjscad.xyz/" target="_blank" class="has-text-weight-bold">
            <span class="icon is-small mr-1"><i class="fa fa-link" aria-hidden="true"></i></span>
            <span>Official JSCAD Website</span>
          </a>
          <p class="is-size-7 has-text-grey-dark mt-1">The main hub for OpenJSCAD versions, docs, and news.</p>
        </div>

        <div class="resource-link">
          <a href="https://openjscad.xyz/dokuwiki/doku.php" target="_blank" class="has-text-weight-bold">
            <span class="icon is-small mr-1"><i class="fa fa-link" aria-hidden="true"></i></span>
            <span>OpenJSCAD Wiki</span>
          </a>
          <p class="is-size-7 has-text-grey-dark mt-1">Read the user and programming guide for OpenJSCAD workflows.</p>
        </div>

        <div class="resource-link">
          <a href="https://www.openjscad.xyz/forum.html" target="_blank" class="has-text-weight-bold">
            <span class="icon is-small mr-1"><i class="fa fa-link" aria-hidden="true"></i></span>
            <span>OpenJSCAD User Forum</span>
          </a>
          <p class="is-size-7 has-text-grey-dark mt-1">Ask questions, share designs, and connect with other
            parametric modelers.</p>
        </div>
        <div class="resource-link">
          <a href="https://joostn.github.io/OpenJsCad/" target="_blank" class="has-text-weight-bold">
            <span class="icon is-small mr-1"><i class="fa fa-link" aria-hidden="true"></i></span>
            <span>Playground</span>
          </a>
          <p class="is-size-7 has-text-grey-dark mt-1">Try OpenJSCAD scripts directly in the legacy browser playground.
          </p>
        </div>

        <div class="resource-link">
          <a href="https://www.facebook.com/groups/gotstl" target="_blank" class="has-text-weight-bold">
            <span class="icon is-small mr-1"><i class="fa fa-link" aria-hidden="true"></i></span>
            <span>Facebook Group</span>
          </a>
          <p class="is-size-7 has-text-grey-dark mt-1">Join the GotSTL community for examples, questions, and shared
            projects.</p>
        </div>

        <div class="resource-link">
          <a href="http://www.implicitcad.org/" target="_blank" class="has-text-weight-bold">
            <span class="icon is-small mr-1"><i class="fa fa-link" aria-hidden="true"></i></span>
            <span>ImplicitCAD</span>
          </a>
          <p class="is-size-7 has-text-grey-dark mt-1">Explore another code-driven CAD tool for procedural solid
            modeling.</p>
        </div>

        <div class="resource-link">
          <a href="https://www.blockscad3d.com/editor/" target="_blank" class="has-text-weight-bold">
            <span class="icon is-small mr-1"><i class="fa fa-link" aria-hidden="true"></i></span>
            <span>BlockSCAD3D</span>
          </a>
          <p class="is-size-7 has-text-grey-dark mt-1">Build 3D models visually with block-based programming concepts.
          </p>
        </div>

        <div class="resource-link">
          <a href="https://danmarshall.github.io/jscad-gallery/" target="_blank" class="has-text-weight-bold">
            <span class="icon is-small mr-1"><i class="fa fa-link" aria-hidden="true"></i></span>
            <span>Another JSCAD Gallery</span>
          </a>
          <p class="is-size-7 has-text-grey-dark mt-1">Browse a gallery of JSCAD models and reusable script examples.
          </p>
        </div>

        <div class="resource-link">
          <a href="https://medium.com/@johnwebbcole/from-javascript-to-reality-a-raspberrypi-tablet-1381f17837d"
            target="_blank" class="has-text-weight-bold">
            <span class="icon is-small mr-1"><i class="fa fa-link" aria-hidden="true"></i></span>
            <span>Raspberry Pi Case</span>
          </a>
          <p class="is-size-7 has-text-grey-dark mt-1">Read a project walkthrough that turns JavaScript modeling into a
            physical tablet case.</p>
        </div>

        <div class="resource-link">
          <a href="https://github.com/Spiritdude/OpenSCAD.jscad" target="_blank" class="has-text-weight-bold">
            <span class="icon is-small mr-1"><i class="fa fa-link" aria-hidden="true"></i></span>
            <span>vJSCAD</span>
          </a>
          <p class="is-size-7 has-text-grey-dark mt-1">Some wrapper functions to ease the translation from OpenSCAD
            (.scad) to OpenJsCad (.jscad): OpenSCAD.js(cad) (openscad.js / openscad.jscad).</p>
        </div>
      </div>
    </aside>
  </div>
</section>