<div *ngIf="!products?.length">
    Loading data ...
</div>
<div class="container is-max-desktop">
    <div class="notification is-primary">
        <a href="https://joostn.github.io/OpenJsCad/">playground</a><br/>
        <a href="https://www.facebook.com/groups/gotstl">Facebook group</a><br/>
        <a href="http://www.implicitcad.org/">Implicitcad</a>
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="card" *ngFor="let product of products; trackBy: trackByProduct; let i = index">

            <div class="card-image">
                <figure class="image is-4by3">
                    <img [src]="product.image" [alt]="product.name">
                </figure>
            </div> 
            <app-card-content [name]="product.name" [description]="product.description"></app-card-content>
            <footer class="card-footer">
                <!-- <app-button-footer class="card-footer-item" [className]="'delete-item'" [iconClasses]="'fas fa-trash'"
                    (clicked)="deleteProduct($event)" label="Delete" [item]="product"></app-button-footer> -->
                <app-button-footer class="card-footer-item" [className]="'edit-item'" [iconClasses]="'fas fa-edit'"
                    (clicked)="selectProduct($event)" label="View" [item]="product"></app-button-footer>
            </footer>

        </div>
    </div>
</section>