<div class="card edit-detail">
  <header class="card-header">
    <p class="card-header-title">
      {{ editingProduct.name }}
      &nbsp;
    </p>
  </header>
  <div class="card-content">
    <div class="content">

      <div oncontextmenu="return false;" id="viewerContext"></div>

      <div id="parameterstable"></div>

      <button id="button" (click)="onUpdate()">Update</button>
      <button id="button" (click)="generateOutputFile()">Generate STL</button>
      @if (outputFile) {
        <a download="openjscad.stl" [href]="sanitizeImageUrl(outputFile)" class="downloadOutputFileLink">download</a>
      }
      <textarea rows="14" name="code" [(ngModel)]="editingProduct.code" style="width: 100%;"></textarea>
    </div>
  </div>
  <footer class="card-footer">
    <app-button-footer class="card-footer-item" [className]="'cancel-button'" [iconClasses]="'fas fa-undo'"
    (clicked)="clear()" label="Cancel" [item]="editingProduct"></app-button-footer>
  </footer>
</div>